.box {
	width: 60px;
	height: 20px;
}

* {
	margin: 0;
	padding: 0;
}

.power {
	width: 20px;
	height: 32px;
	font-weight: bold;
	font-size: 20px;
}

.gun {
	width: 5px;
	height: 20px;
	background-color: brown;
}
#container {
	border: 10px solid black;
	display: inline-block;
	width: 700px;
	height: 700px;
	box-sizing: border-box;
}

#nave {
	background-color: gray;
}

.ball {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rebeccapurple;
}